html,
body {
  height: 100%;
}

.app-layout {
  display: grid;
  grid-template-rows: auto auto auto 1fr;

  > :nth-child(2) {
    height: 400px;
  }

  > :nth-child(3) {
    height: 4px;
    cursor: ns-resize;
    transform: scale(1);
    transition:
      background-color 0.2s,
      transform 0.2s;
    transform-origin: center;
    position: relative;
    z-index: 1;

    &:hover {
      background-color: currentColor;
      transform: scaleY(1.5);
    }
  }

  > :nth-child(3) {
    overflow: auto;
  }
}
