html,
body {
  height: 100%;
}

/* resets */
button {
  padding: 2px 4px;
}

textarea {
  field-sizing: content;
  padding: 2px 4px;
  resize: none;
  min-height: 48px;
}

[hidden] {
  display: none !important;
}

/* components */
.app-layout {
  display: grid;
  grid-template-rows: auto auto auto 1fr;

  > :nth-child(2) {
    height: 400px;

    > * {
      height: 100%;
      width: 100vw; /* force monaco to fit the screen */
    }
  }

  > :nth-child(3) {
    height: 4px;
    cursor: ns-resize;
    transform: scale(1);
    transition: background-color 0.2s;
    transform-origin: center;
    position: relative;
    z-index: 1;

    &:hover {
      background-color: currentColor;
      transform: scaleY(1.5);
    }
  }

  > :nth-child(4) {
    overflow: auto;
  }
}

.c-command-bar {
  display: flex;
  flex-wrap: wrap;
}

.c-select-container {
  padding: 4px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 4px;
  min-height: 0;
  align-content: start;
  overflow-y: auto;
}

/* utils */
.u-scroll {
  min-height: 0;
  overflow-y: auto;
}
